<!doctype html>
<html>
<head>
  <!-- Google Analytics Content Experiment code -->
  <!-- Comment out while developing
  <script>function utmx_section(){}function utmx(){}(function(){var
  k='82777084-0',d=document,l=d.location,c=d.cookie;
  if(l.search.indexOf('utm_expid='+k)>0)return;
  function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
  indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
  length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
  '<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
  '://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
  '&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
  valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
  '" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
  </script><script>utmx('url','A/B');</script>
-->
  <!-- End of Google Analytics Content Experiment code -->

  <title>Read By Mood</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="/css/readbymood.css" rel="stylesheet">
  <link href="/css/choosemood.css" rel="stylesheet">
  <link rel="apple-touch-icon" href="/images/logo_thumb.png">
  <link rel="apple-touch-startup-image" href="/images/logo_full.png">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>

<body>
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <img class="logo-full img-responsive" src="/images/logo_full.png"></div>

    <div class="container page-top">
      <center>
        <h1 id="yourmoods">How do you want to feel?</h1>
      </center>
    </div>

    <div class="container">
      <div class="row">
      {{#each tags}}
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
        <!-- Removing color
        <button class="btn btn-lg tag buttonTag btn-{{this.color}}">{{this.mood}}</button>
        -->
        <button class="btn btn-lg tag buttonTag btn-black">{{this.mood}}</button>
      </div>
      {{/each}}
      </div>
    </div>
    <nav id="bottom-nav" class="navbar navbar-default navbar-fixed-bottom" role="navigation">
      <div class="container">
        <div class="center">
          <a class="submit center" href="#">
            <button class="btn btn-lg btn-primary" disabled>Please Select Moods...</button>
          </a>
        </div>
      </div>
    </nav>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript">

    var startTime;  // For tracking time user spends in page
    var tagClickTime = null;
    var tagClicks = 0;  // Track # of tag clicks

    function tag_clicked(obj) {
      obj.toggleClass("btn-selected");

      if (obj.hasClass("btn-selected")) {
        ga("send", "event", "tag", "selected", "choosemood: " + obj.text());
      }

      var tagList =  $(".btn-selected");
      var submitButton = $(".submit button");
      var dataSent = {
        tags: []
      };
      tagList.each(function(){
        dataSent.tags.push($(this).text());
      });
      if(tagList.length == 0){
        submitButton.attr("disabled", true);
        $(".submit").attr("href", "#");
        submitButton.text("Please Select Moods...");
        $(".tag").parent().fadeIn();
        $("#yourmoods").fadeOut(function(){
          $(this).text("How do you want to feel?").fadeIn();
        });

        //$(".navbar-fixed-bottom").addClass("collapse", 3000, "swing" );
        //$(".navbar-fixed-bottom").fadeOut("slow");
        //$(".navbar-fixed-bottom").hide("slide", { direction: "down" }, 1000);
        $(".navbar-fixed-bottom").slideDown();
      }
      else {
        //$(".navbar-fixed-bottom").removeClass("collapse", 3000, "swing" );
        //$(".navbar-fixed-bottom").fadeIn("slow");
        //$(".navbar-fixed-bottom").show("slide", { direction: "up" }, 1000);
        $(".navbar-fixed-bottom").slideUp();

        // set banners
        $("#yourmoods").fadeOut(function(){
          $(this).text(dataSent.tags.join(" + ")).fadeIn();
        });

        var url;
        {{#if experiment}}
          url = 'choosemoodExperiment';
        {{else}}
          url = 'choosemood';
        {{/if}}

        $.ajax({
          type: 'POST',
          data: JSON.stringify(dataSent),
          contentType: 'application/json',
          url: url,            
          success: function(dataRetrieved) {
            if (dataRetrieved.articleNumber == 0){
              submitButton.attr("disabled", true);
              $(".submit").attr("href", "#");
              submitButton.text("No articles for the selection");
            }
            else {
              submitButton.attr("disabled", false);
              var textToShow = "Read " + dataRetrieved.articleNumber + " articles";
              if (dataRetrieved.articleNumber == 1)
                textToShow = textToShow.slice(0,-1);
              submitButton.text(textToShow);
              $(".tag").each(function(){
                if ($.inArray($(this).text(), dataRetrieved.moods) > -1)
                  $(this).parent().fadeIn("slow");
                else
                  $(this).parent().fadeOut("slow");
              });

              var post = {};
              $(".btn-selected").each(function(){post[$(this).text()] = true;});
              var query='';
              var key;
              for (key in post)
                query=query+'tags[]='+key+'&';
              query = query.slice(0,-1);

              var link;
              {{#if experiment}}
                link = "/resultsExperiment?"+query;
              {{else}}
                link = "/results?"+query;
              {{/if}}
              $(".submit").attr("href", link);
            }
          }
        });
      }
    };

$(document).ready(function() {
  startTime = new Date().getTime();

  {{#if selected_tag}}
  $(".tag").each(function() {
    if ($(this).text() == "{{selected_tag}}") {
      tag_clicked($(this));
    }
  });        
  {{/if}}

  $(".tag").each(function() {
    if ($(this).text().length > 11) {
      var height = $(this).parent().height();
      $(this).css('font-size', "15px");
      $(this).parent().height(height);
    }
  });
});

$(".tag").click(function () {
  tag_clicked($(this));
  tagClicks = tagClicks + 1;

  if (!tagClickTime) {
    // Record how long it took for first tag click
    var endTime = new Date().getTime();
    var timeSpent = endTime - startTime;
    ga('send', 'timing', 'tag', 'first tag click', timeSpent);
    tagClickTime = endTime;
  } else {
    // Record time between tag clicks
    var endTime = new Date().getTime();
    var timeSpent = endTime - tagClickTime;
    ga('send', 'timing', 'tag', 'time between tag clicks', timeSpent);
    tagClickTime = endTime;
  }
});

$(".submit").click(function(event){
  // Doing this so we submit using jquery instead of default
  event.preventDefault();    

  if($(".btn-selected").length > 0)
  {
    // Send relevant GA events
    var endTime = new Date().getTime();
    var timeSpent = endTime - startTime;
    ga('send', 'timing', 'Time Spent On Page', 'choosemood', timeSpent);
    ga("send", "event", "tag", "aggregate", "Total tag clicks in choosemood", tagClicks);
    ga("send", "event", "tag", "aggregate", "Total tags selected in choosemood", $(".btn-selected").length);

    // This is necessary so that form submit below does not occur before events above are registered
    ga('send', 'event', 'callback', 'choosemood', {
      'hitCallback': function() {
        window.location = $('.submit').attr('href');
      }
    });
    return !window.ga;
  }
});
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48497360-1', 'moodreader.herokuapp.com');
  //ga('create', 'UA-48497360-1', { 'cookieDomain': 'none' });
  window['ga-disable-UA-48497360-1'] = true; 
  ga('send', 'pageview');

</script>
</body>
</html>
